{% extends 'layout/basic.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/form_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">
            短信登录
        </div>
        <form id="form" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}

                {% if field.name == 'code' %}
                    <div class="form-group extra-padding">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0">
                                {{ field }}

                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-default" id="for_code" value="获取验证码"/>
                            </div>
                        </div>

                    </div>

                {% else %}
                    <div class="form-group extra-padding">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}

            {% endfor %}

            <input type="button" class="btn btn-default" id="for_login" value="登录"/>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {

            $('#for_code').click(function () {
                $('.error-msg').empty();

                let timer = null;
                let num = 60;
                $.ajax({
                    url: {% url 'sms' %},
                    method: 'get',
                    data: {
                        phone: $('#id_phone').val(),
                        type: 'login',
                    },
                    dataType: "JSON",
                    success: function (info) {
                        if (info.status) {
                            timer = setInterval(function () {
                                num--;
                                $('#for_code').prop('disabled', true);
                                $('#for_code').val('重新发送验证码' + '(' + String(num) + 's)');
                                if (num < 1) {
                                    $('#for_code').prop('disabled', false);
                                    $('#for_code').val('获取验证码');
                                    clearInterval(timer);
                                }
                            }, 1000)
                        } else {
                            console.log(info);
                            $.each(info.error, function (key, value) {
                                $('#id_' + key).next().text(value[0])
                            })
                        }
                    }
                })
            })

        })

    </script>
{% endblock %}