{% extends 'layout/basic.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/form_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">
            登录
        </div>
        <form id="form" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}

                {% if field.name == 'code' %}
                    <div class="form-group extra-padding">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0">
                                {{ field }}

                            </div>
                            <div class="col-md-6">
                                <img src="{% url 'code' %}" style="float: right" alt="" id="code">
                            </div>
                        </div>

                    </div>

                {% else %}
                    <div class="form-group extra-padding">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg">{{ field.error.0 }}</span>
                    </div>
                {% endif %}

            {% endfor %}
            <div>
                <button type="submit" class="btn btn-default" id="normal_login">登录</button>
                <a href="{% url 'sms_login' %}" style="float: right; padding-top: 7px">短信验证码登录?</a>
            </div>

        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('#code').click(function () {
                let oldSrc = $(this).attr('src');
                $(this).attr('src', oldSrc + '?');
            })
        })
    </script>
{% endblock %}
