{% extends 'layout/project_manage.html' %}
{% block css %}
    <style>
        .project {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .panel-body {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .panel-body > .item {
            border-radius: 6px;
            width: 228px;
            border: 1px solid #dddddd;
            margin: 20px 10px;

        }

        .panel-body > .item:hover {
            border: 1px solid #f0ad4e;
        }

        .panel-body > .item > .title {
            height: 104px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            font-size: 15px;
            text-decoration: none;
        }

        .panel-body > .item > .info {
            padding: 10px 10px;

            display: flex;
            justify-content: space-between;

            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            color: #8c8c8c;

        }

        .panel-body > .item > .info a {
            text-decoration: none;
        }

        .panel-body > .item > .info .fa-star {
            font-size: 18px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container project">
        <a href="" class="btn btn-info" data-toggle="modal" data-target="#myModal"
           onclick="projectForm.reset()">新建项目</a>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">星标项目</div>
            <div class="panel-body">
                {% for project in project_dict.star %}
                    <div class="item">
                        <a href="#" class="title"
                           style="background-color: {{ project.get_color_display }}">{{ project.name }}</a>

                        <div class="info">
                            <div>
                                <a href="{% url 'project_star_cancel' project_type=project.class_type project_id=project.id %}">
                                    <i class="fa fa-star" aria-hidden="true" style="color: #f0ad4e"></i>
                                </a>
                                <span>{{ project.creator.usr }}</span>
                            </div>
                            <div>
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ project.member }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">我创建的项目</div>
            <div class="panel-body">
                {% for project in project_dict.my %}
                    <div class="item">
                        <a href="#" class="title"
                           style="background-color: {{ project.get_color_display }}">{{ project.name }}</a>

                        <div class="info">
                            <div>
                                <a href="{% url 'project_star' project_type='my' project_id=project.id %}">
                                    <i class="fa fa-star" aria-hidden="true" style="color: #d5d5d5"></i>
                                </a>
                                <span>{{ project.creator.usr }}</span>
                            </div>
                            <div>
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ project.member }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">我参与的项目</div>
            <div class="panel-body">
                {% for project in project_dict.join %}
                    <div class="item">
                        <a href="#" class="title"
                           style="background-color: {{ project.get_color_display }}">{{ project.name }}</a>

                        <div class="info">
                            <div>
                                <a href="{% url 'project_star' project_type='join' project_id=project.id %}">
                                    <i class="fa fa-star" aria-hidden="true" style="color: #d5d5d5"></i>
                                </a>
                                <span>{{ project.creator.usr }}</span>
                            </div>
                            <div>
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ project.member }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">项目创建</h4>
                </div>
                <div class="modal-body">
                    <form id="projectForm" name='projectForm' method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg" style="color: red"></span>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <input type="button" class="btn btn-primary" style="float: right" value="创建项目"
                               id="create_project"/>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            formCreateProject();
        })

        function formCreateProject() {

            $('#create_project').click(function () {
                $.ajax({
                    url: '/project/list/',
                    method: 'post',
                    data: $('#projectForm').serialize(),
                    success: function (info) {
                        if (info.status) {
                            location.reload();
                        } else {
                            console.log(info);
                            $.each(info.error, function (key, value) {
                                $('#id_' + key).next().text(value[0])
                            })
                        }
                    }
                })
            })
        }

    </script>
{% endblock %}