{% extends 'layout/basic.html' %}
{% block css %}
    <style>
        .account {
            width: 400px;
            margin-top: 5%;
            margin-left: 70%;
            padding: 10px 30px 30px 30px;
            border: 1px solid #f0f0f0;
            -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
        }

        .title {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }

        .error-msg {
            color: red;
            position:absolute;
        }

        .extra-padding{
            padding-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">
            注册
        </div>
        <form>
            {% csrf_token %}
            {% for field in form %}

                {% if field.name == 'code' %}
                    <div class="form-group extra-padding">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="clearfix">
                            <div class="col-md-6" style="padding-left: 0">
                                {{ field }}

                            </div>
                            <div class="col-md-6">
                                <input type="button" class="btn btn-default" id="for_code" value="获取验证码"/>
                            </div>
                        </div>

                    </div>

                {% else %}
                    <div class="form-group extra-padding">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}

            {% endfor %}

            <button type="submit" class="btn btn-default" id="for_register">注册</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {

            $('#for_code').click(function () {
                $('.error-msg').empty();

                let timer = null;
                let num = 60;
                $.ajax({
                    url: {% url 'sms' %},
                    method: 'get',
                    data: {
                        phone: $('#id_phone').val(),
                    },
                    dataType: "JSON",
                    success: function (info) {
                        if (info.status) {

                            timer = setInterval(function () {
                                num--;
                                $('#for_code').addClass('disabled');
                                $('#for_code').val('重新发送验证码' + '(' + String(num) + 's)');
                                if (num === 1) {
                                    $('#for_code').removeClass('disabled');
                                    $('#for_code').val('获取验证码');
                                    clearInterval(timer);
                                }
                            }, 1000)
                        } else {
                            console.log(info);
                            $.each(info.error, function (key, value) {
                                $('#id_' + key).next().text(value[0])
                            })
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}